<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1><%= title %></h1>
    <%for (var i in events){%>
      <div class="card"><%= events[i].name %></div> 
      <div class="card"><%= events[i].description %></div>   
    <%}%>
  </body>
</html>
