@import url('https://fonts.googleapis.com/css?family=Heebo');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  font-size: 22px;
}

body * {
  line-height: 1;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --blue: #add9e7;
  --yellow: #e3b624;
  --dirty-lavendar: #eee6ee;
  --pink: #dabfcd;
  --turquoise: #5b8c99;
  --black: #333333;
}

/* modifier */
.padding-large {
  padding: 10%;
}

.padding-small {
  padding: 3% 6%;
}
/* modifier end */

form {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}

fieldset {
  height: auto;
  background-color: var(--dirty-lavendar);
  width: 45%;
  border-radius: .5em;
  box-shadow: 0 .1em .5em #33333355;
}

legend {

}

label {
  color: var(--black);
}

input:placeholder-shown,
input,
select,
.select-selected,
button {
  display: block;
  margin-top: .5em;
  margin-bottom: 2em;
  height: 3em;
  font-size: .5em;
  border-radius: .5em;
  background-color: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0.2em 1.5em;
  width: 100%;
  cursor: pointer;
  transition: 100ms ease all;
}

button {
  font-size: .7em;
  color: var(--pink);
}

input::placeholder,
select,
.select-selected,
.select-items {
  color: var(--pink);
}

input:hover,
.select-selected:hover,
button:hover {
  box-shadow: 0 .2em .5em #33333333;
  cursor: pointer;
}

button:hover {
  background-color: var(--yellow);
  border-color: var(--yellow);
  color: white;
}

.disabled:hover {
  background-color: var(--dirty-lavendar);
  color: var(--pink);
  border-color: #bb4949;
  box-shadow: 0 .2em 1em #33333311;
  cursor: no-drop;
}

.select-selected {
  padding: 0.9em 1.5em;
}

.select-items div {
  font-size: .5em;
  padding: 1em 1.5em;
  transition: 100ms ease all;
}

/* Custom dropdown menu */
/* The container must be positioned relative: */
.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
}

.select-selected.select-arrow-active,
input:active,
input:focus,
input,
.select-clicked {
  background-color: white;
  color:  var(--black);
  font-size: 0.6em;
  padding: 0.9em 1em;
  border-width: 2px;
  border-color: var(--yellow);

}

.select-selected.select-arrow-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: #fff;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: var(--dirty-lavendar);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: white;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  overflow: hidden;
  border-bottom: var(--yellow) 2px solid;
  border-left: var(--yellow) 2px solid;
  border-right: var(--yellow) 2px solid;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items {
  box-shadow: 0 1em 1em #33333322;
}

.select-items div:hover, 
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--black);
}
/* Custom dropdown menu end*/



a {
  color: var(--turquoise);
}

.title-page {

}

.card {
 
}

.loading {

}

@media (max-width: 597px) {
  fieldset {
    height: 100vh;
    background-color: var(--dirty-lavendar);
    width: 100%;
  }
}